html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

